<div class="search-container">
  <input type="text" [formControl]="termeCerca" placeholder="Cerca elements..." />
  <button *ngIf="termeCerca.value" (click)="netejar()">
    Netejar
  </button>
  <p *ngIf="validant()">Validant...</p>
  <div *ngIf="termeCerca.touched && termeCerca.errors">
    <p *ngIf="termeCerca.errors['minlength']">
      Error! Mínim 2 caràcters
    </p>
    <p *ngIf="termeCerca.errors['maxlength']">
      Màxim 50 caràcters
    </p>
  </div>
  <p *ngIf="termeCerca.touched && termeCerca.errors?.['sensResultats']">
    No s’han trobat resultats
  </p>

</div>